{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="p-4 m-4">
            <div class="col-lg-5 mx-auto border rounded pt-4">
                <h3 class="alert alert-light border rounded "> Create An Account</h3>
            <form action="/signup" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">FirstName</label><br>
                    <input type="text" name="firstname" class="from-control " placeholder="firstname">
                </div>

                <div class="form-group">
                    <label for="">LastName</label><br>
                    <input type="text" name="lastname" class="from-control " placeholder="lastname">
                </div>

                <div class="form-group">
                    <label for="">Phone Number</label><br>
                    <input type="text" name="phone" class="from-control " placeholder="+088">
                </div>


                <div class="form-group">
                    <label for="">Email</label><br>
                    <input type="email" name="email" class="from-control " placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <label for="">Password</label><br>
                    <input type="password" name="password" class="from-control " placeholder="password">
                </div>

                <div class="form-group">
                    <input class="btn btn-info btn-md" type="submit" value="Create an account">
                </div>


            </form>
            </div>
        </div>
    </div>
{% endblock %}