{% extends 'ecommerce/base.html' %}

{% block body%}
<style>

    ul {
    list-style-type: none;
    margin-left: 37%;
    padding: 0
}

.rating {
    margin-left: 37%
}

.page {
    background-color: #dfe6e0;
    padding: 2%;
    margin: auto
}

.fa {
    color: #f2dd1d
}

.card-img-top {
    width: 90%;
    height: 225px
}

.view {
    background-color: #dfe6e0;
    padding: 10px;
    margin: 20px
}

.card {
    width: 95%;
    padding: 0px;
    margin-left: 2%
}

.card-footer {
    background-color: #ff772e;
    font-weight: 700
}

.price {
    color: #ff4517;
    font-weight: 600
}

</style>

<div class="page">
    {% for i in products %}
    <!--For Row containing all card-->
    <div class="row">
        <!--Card 1-->
        <div class="col-sm col-md-3 col-lg-3">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="{{ i.img.url }}" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="">{{ i.name }}</a></strong></h4> <!-- Card Description-->
                    <p class="card-text"> {{ i.title }} </p>
                    <p class="price">$ {{ i.price }}</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}